.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

dev/*
!dev/manifest.json
!dev/hot-reload.js
.vscode/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
